

body.homepage {
	background:url("https://s3.amazonaws.com/user-media.venngage.com/981469-e2b6629f26488238c53dc52ecea2a642.jpg");
	background-repeat: no-repeat;
	Display: inline-block;
	background-size: 100% 100% ;
}
body.sol{
	background:url("https://i.ytimg.com/vi/JR0attPUJtw/maxresdefault.jpg");
	background-repeat: no-repeat ;
	background-size: 100% 100% ;
}
body.rocketry{
	background:url("http://www.hotszots.eu/_galler/IMG/SPACE/nasa_rocket-1920x1080.jpg");
	display: inline-block ;
	background-repeat: no-repeat ;
	background-size: 100% 100% ;
}
body.human{
	background:url("https://s3.amazonaws.com/kajabi-neo-production/courses/5341/lessons/54614/custom_thumbnails/45b94a4b-582b-454a-b897-83137114663c_medium.jpg") ;
	background-repeat: no-repeat ;
	background-size: 100% 100% ;
}
body.space{
	background:url("https://www.nasa.gov/sites/default/files/thumbnails/image/p1639ay-goodss-160930.jpg") ;
	background-repeat: no-repeat ;
	background-size: 100% 100% ;
}
body.earth{
	background:url("")
	background-repeat: no-repeat ;
	background-size: 100% 100% ;
}
body.AboutB{
	background:url("http://wallpapershome.com/images/pages/pic_hs/10121.jpg") ;
	background-repeat: no-repeat ;
	background-size: 100% 100% ;
}

ul {
	list-style: none ;
}

.btn {
	color: #ffffff ;
	cursor: pointer ;
	display: inline-block;
	margin: 9 auto 2em ;
	padding: 8px ;
	max-width: 100px ;
	text-decoration: none ;
	text-transform: uppercase ;
	vertical-align: middle ;
	float: left ;
	width: 100% ;
	position: relative ;
	background: #8B008B ;
	transition: all 150ms liner ;
	text-align: center;
	
}

.btn:hover{
	background-color: #324b ;
}

.btn ul {
  	margin: 0px ;
	padding: 0px ;
	border: 2px solid red ;
	display: inline-block ;
	list-style: none ;
}

.bx {
	width:180px;
	border:2px ridge #324b;
	float:left;
	box-sizing:border-box;
	background-size: 100% 100%;
	height:470px ;
	position: relative ;
	list-style: none ;
	
}

.vid{
	position: relative ;
	float: left ;
	
	
}
.btnb {
	color: #ffffff ;
	cursor: pointer ;
	display: inline-block;
	margin: 10 auto 2em ;
	padding: 9px ;
	max-width: 100px ;
	text-decoration: none ;
	text-transform: uppercase ;
	vertical-align: middle ;
	float: right ;
	width: 100% ;
	position: relative ;
	background: #8B008B ;
	transition: all 150ms liner ;
	text-align: center ;
	list-style: none ;
}

.btnb:hover{
	background-color: #324b ;
}

.btnb ul {
  	margin: 0px ;
	padding: 0px ;
	border: 2px solid red ;
	display: inline-block ;
	list-style: none ;
}

.bxb ul{
		display: inline-block ;
}


.bxb {
	width:180px;
	border:2px ridge #324b;
	float:right;
	box-sizing:border-box;
	background-size: 100% 100%;
	height:470px ;
	position: relative ;
	list-style: none ;	
	display: inline-block ;
}
.header{
	width:100% ;
	border:2px ridge white;
	box-sizing:border-box;
	background-image:url("http://orig09.deviantart.net/8ff4/f/2007/084/e/5/space_banner_by_halochick4ever.jpg") ;
	height:110x;
	color: #3f66ff ;
	
}